// Button website

.btn-yellow{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 25px;
    background-color: $yellow;
    font-size: 0.8em;
    transition: .3s all ease-in-out;
    &:hover{
        background-color: $text-color;
    }
}
.btn-popular{
    color: $text-color;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 25px;
    background-color: $yellow;
    font-size: 0.8em;
}
.btn-pack{
    color: $text-color;
    background-color: $grey-section;
    font-weight: 500;
    padding: 10px 15px;
    cursor: pointer;
    transition: .3s all ease-in-out;
    &:hover{
        background-color: $yellow;
        color: white;
    }
}
.btn-black{
    background-color: $text-color;
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin-bottom: 10%;
    transition: .3s all ease-in-out;
    &:hover{
        background-color: $yellow;
    }
    @media screen and (max-width:501px){
        display: block;
        margin: 5% auto;
        width: 50%;
        text-align: center;
    }
}
.hotel-page .btn-black{
    @media screen and (max-width:767px){
        margin: 0 auto 10%;
    }
}
.btn-blog{
    font-size: 0.8em;
    border: 1px solid $grey-section;
    color: $text-color;
    padding: 5px 15px;
    background-color: transparent;
    transition: .3s all ease-in-out;
    &:hover{
        background-color: $yellow;
        border-color: $yellow;
        color: white;
    }
}
.btn-form{
    font-size: 0.8em;
    border: 1px solid $yellow;
    color: white;
    padding: 5px 15px;
    background-color: $yellow;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s all ease-in-out;
    &:hover{
        background-color: white;
        border-color: $yellow;
        color: $text-color;
    }
}
.btn-comments{
    font-size: 0.8em;
    border: 1px solid $grey-section;
    color: $text-color;
    padding: 10px 20px;
    font-weight: 600;
    background-color: white;
    transition: .3s all ease-in-out;
    &:hover{
        background-color: $yellow;
        border-color: $yellow;
        color: white;
    }
}
.btn-aside{
    font-size: 0.8em;
    border: 1px solid lightgray;
    color: $text-color;
    padding: 5px 15px;
    margin: 5px 0;
    background-color: white;
    display: inline-block;
    transition: .3s all ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: $yellow;
        border-color: $yellow;
        color: white !important;
    }
}