.footer{
    background-color: $footer-section;
    @media screen and (max-width:480px){
        .wrapper{
            padding: 0 5%;
        }
    }
    p{
        color: $text-color-grey;
        font-size: 0.9em;
        line-height: 24px;
        @media screen and (max-width:767px){
            font-size: 0.7em;
            line-height: 18px;
        }
    }
    .title-footer{
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10%;
    }
}
.footer-top, .footer-bottom{
    padding: 5% 0;
}
.footer-top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    @media screen and (max-width:767px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width:480px){
        grid-template-columns: repeat(1, 1fr);
    }
    div:nth-of-type(2){
        > div{
            display: flex;
            > div{
                display: flex;
                flex-direction: column;
                width: 50%;
                a{
                    color: $text-color-grey;
                    font-size: 0.9em;
                    margin-bottom: 8%;
                    transition: .3s all ease-in-out;
                    &:hover{
                        color: $yellow;
                    }
                    @media screen and (max-width:767px){
                        font-size: 0.7em;
                    }
                } 
            }
        }
    }
}
.footer-top{
    form{
        display: flex;
        input{
            border: 1px solid grey;
            border-right: none;
            padding: 10px 15px;
            width: 80%;
            background-color: transparent;
        }
        button{
            border: 1px solid grey;
            border-left: none;
            padding: 10px 15px;
            width: 20%;
            background-color: $yellow;
            // Safari And Chrome Only
            i{
                -webkit-text-fill-color: $yellow;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: white;
            }
        }
    }
}
.footer-gallery{
    display: grid;
    grid-template-areas: 
    "img1 img2 img3 img4"
    "img5 img6 img7 img8"
    ;
    column-gap: 1rem;
    row-gap: 1.5rem;
    @media screen and (max-width:767px){
        grid-template-areas: 
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 ."
        ;
        gap: 1rem;
    }
    @media screen and (max-width:480px){
        grid-template-areas: 
        "img1 img2 img3 img4"
        "img5 img6 img7 img8"
        ;
    }
    div:nth-of-type(1){
        grid-area: img1;
    }
    div:nth-of-type(2){
        grid-area: img2;
    }
    div:nth-of-type(3){
        grid-area: img3;
    }
    div:nth-of-type(4){
        grid-area: img4;
    }
    div:nth-of-type(5){
        grid-area: img5;
    }
    div:nth-of-type(6){
        grid-area: img6;
    }
    div:nth-of-type(7){
        grid-area: img7;
    }
    div:nth-of-type(8){
        grid-area: img8;
    }
}
.hr-footer{
    width: 100%;
    border: none;
    border-top: 1px solid $text-color-grey;
}
.footer-bottom{
    display: flex;
    small{
        width: 75%;
        color: $text-color-grey;
        font-size: 0.9em;
        @media screen and (max-width:767px){
            font-size: 0.7em;
        }
    }
    div{
        width: 25%;
        display: flex;
        justify-content: flex-end;
        a{
            color: $text-color-grey;
            transition: .3s all ease-in-out;
            margin-left: 5%;
            &:hover{
                color: $yellow;
            }
        }
    }
}