// General CSS Rules
// -----------------
// General Media queries 
// => Desktop : Base
// => Tablet : 767px
// => Smartphone : 501px
// -----------------


html {
    scroll-behavior: smooth;
}
body{
    font-family: $main-font;
    color: $text-color;
}
// --- Color Selection Yellow ---
::selection {
    background: $yellow;
    color:white;
}
// --- Wrapper Base ---
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
    @media screen and (max-width:767px){
        max-width: 90%;
    }
    @media screen and (max-width:501px){
        max-width: 100%;
    }
}
// --- a tag decoration ---
a{
    text-decoration: none;
}
// --- Header Title ---
.h1-title{
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: 300;
    span{
        font-size: 4em;
        font-weight: 600;
        margin-top: 20px;
        display: block;
        @media screen and (max-width:501px){
            font-size: 3em;
        }
    }
}
.h1-title-secondary{
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
}
// --- Section Title ---
.h2-title{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color: $text-color;
}
.h3-title{
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    color: $text-color-grey;
    @media screen and (max-width:767px){
        display: block;
        width: 80%;
        margin: 0 auto;
        line-height: 24px;
    }
    @media screen and (max-width:501px){
        margin-bottom: 15%;
    }
}
// --- Section Space Between ---
section{
    padding: 5% 0;
    @media screen and (max-width:501px){
        padding: 10%;
    }
}