.header{
    width: 100%;
    height: 100vh;
    background: url('../img/hero-bg.jpg') center/cover;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
    &::before{
        content: '';
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
    }
    .wrapper{
        position: relative;
        z-index: 3;
    }
    p{
        font-size: 0.8em;
        font-weight: 300;
        line-height: 20px;
        display: block;
        width: 50%;
        margin: 2% 0 2% 0;
    }
}

.contact-page .header{
    background: url('../img/hero-contact.jpg') center/cover;
    height: 40vh;
}
.hotel-page .header{
    background: url('../img/hero-hotels.jpg') center/cover;
    height: 40vh;
}
.blog-page .header{
    background: url('../img/hero-blog.jpg') center/cover;
    height: 40vh;
}


.breadcrumbs{
    display: flex;
    justify-content: center;
    a{
        color: white;
        font-size: 0.9em;
        font-weight: 300;
        transition: .3s all ease-in-out;
        &:hover{
            color: $yellow;
        }
    }
    i{
        margin: 0 1%;
    }
}