.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    a{
        color: white;
    }
}

.nav-socials{
    display: flex;
    a{
        margin: 1% 3% 1% 0;
        font-size: 0.8em;
        transition: .3s all ease-in-out;
        &:hover{
            color: $yellow;
        }
    }
    a:first-child{
        margin-left: 1%;
    }
    a:nth-of-type(2){
        margin-right: auto;
    }
}

.main-nav{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, .3);
    a{
        margin: 1% 3% 1% 0;
        font-size: 0.8em;
        transition: .3s all ease-in-out;
        &:hover{
            color: $yellow;
        }
    }
    a:first-child{
        margin-right: auto;
        margin-left: 1%;
    }
}
.nav-link{
    display: none;
}
@media screen and (max-width:480px){
    .main-nav{
        a:first-child{
            padding-top: 2%;
            padding-bottom: 2%;
        }
        a:nth-of-type(2), a:nth-of-type(3), a:nth-of-type(4){
            display: none;
        }
    }
    .nav-link{
        display: flex;
        position: fixed;
        width: 30%;
        height: 100%;
        top:0;
        left:-100vw;
        background: black;
        color: white;
        flex-direction:column;
        align-items:flex-start;
        transition:.3s all ease-in-out;
        z-index: 20;
        text-transform: uppercase;
        font-size: 0.7em;
        a{
            margin: 10% 0 5% 10%;
        }
    }
    .menu-bg{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background:rgba(51, 51, 51, 0.85);
        left:-100vw;
        z-index: 15;
    }
    .burger-menu {
        position: fixed;
        top:30px;
        right:30px;
        padding-top: 2%;
        border-radius:7px;
        width: 40px;
        height: 40px;
        cursor:pointer;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        transition:.5s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index:1;
    }
    .burger-menu span {
        width: 60%;
        height: 3px;
        border-radius:2px;
        background:#fff;
        margin:2px 0;
    }
    .active {
        left: 0;
    }
}